.yogaClassDetailImage {
    height: 400px;
    width: 400px;
    /* border-radius: 30px; */
    margin-bottom: 40px;
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 20px;
}
.mainClassDetails {
    margin: 20px;
}
.classDetails {
    margin-top: 10px;
    font-family: cursive;
    color: rgb(172, 176, 127)
}
.classDetailsPrice {
    font-family: cursive;
    margin: 5px;
    color: rgb(244, 116, 70);
}

.classDetailsTitle {
    font-size: x-large;
    border-bottom: solid rgb(172, 176, 127);
    font-family: cursive;
    color: rgb(172, 176, 127)
}
.buttonDivs{
    margin: 20px;
    display: flex;
    justify-content: center;
    
}
.test{
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    border: solid rgb(172, 176, 127);
    width: 70%;
    margin-left: 15%;

}
.yogaDetailContainerStudent {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    border: solid rgb(172, 176, 127);
    width: 70%;
    margin-left: 15%;
}

.yogaDetailContainer {
    display: flex;
    justify-content: center;
}

.updateDelete{
    display: flex;
    justify-content: center;
    margin: 20px;
}
.alreadyBooked {
   font-family: cursive;
   font-weight: bold;
   font-size: x-large;
    margin-top: 10px;
    color: rgb(244, 116, 70);
}

.buttonCancel {
    
    display: flex;
    justify-content: center;
}

.bookAndCancelButton {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    padding-bottom: 100px;
}
.cancelDiv {
 display: flex;
 flex-direction: column;
}

.bookClassButton {
   
    border: 2px solid rgb(172, 176, 127);
    margin-right: .5rem;
    padding: .5rem;
    background-color: transparent;
    cursor: pointer;
    color: rgb(172, 176, 127);
    font-size: large;
    font-family: "Averta","Segoe UI","Helvetica","Arial",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

.bookClassButton:hover {
    color: rgb(244, 116, 70);
}

.cancelButton {
    margin: 5px;
}

.yogaStudentDeets {
    padding-bottom: 5px;
}
.editButtons {
    border: 2px solid rgb(172, 176, 127);
    margin-right: .5rem;
    padding: .5rem;
    background-color: transparent;
    cursor: pointer;
    color: rgb(172, 176, 127);
    font-size: large;
    font-family: "Averta","Segoe UI","Helvetica","Arial",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

.editButtons:hover {
    color: rgb(244, 116, 70);
}
