.footer__container {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 0; 
    margin-bottom: 0px;
    width: 100%;
}

.gitHubIcon {
    height: 50px;
}

.gitHub {
   margin-top: 30px;
}