.homePageButtonContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 50px;
    margin-bottom: 456px;
    font-family: cursive;
    width: 100%;
    font-size: 30px;
   
}
.classText {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    width: auto;
}   
.availableClassesDiv{
  
   width: 100%
}

.teacherReviewsDiv {
    width: 100%

}

.availableClassesLink{
    text-decoration: none;
    color: sandybrown;
    cursor: pointer;
    border: 2px;
}

.teacherReviewsLink {
    text-decoration: none;
    color: sandybrown;
    cursor: pointer;
}


.availableClassesButton{
border-radius: 5px;
height: auto;
width: 100%;
background-color: rgb(217, 240, 208);
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
border-radius: 5px;
}

.teacherReviewsButton {
    border-radius: 5px;
    height: auto;
    width: 100%;
    background-color: rgb(217, 240, 208);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: 5px;
}
