.demo-button {
    border-radius: 30px;
    padding: 1rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: white;
    font-size: large;
    font-family: "Averta","Segoe UI","Helvetica","Arial",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

.demo-button:hover {
    color: rgb(200, 203, 166);
}