.logout-button {
    margin-left: .5rem;
    margin-right: .5rem;
    padding: 1rem;
    border: 2px solid #E8E8E8;
    background-color: transparent;
    cursor: pointer;
    color: white;
    font-size: large;
    font-family: "Averta","Segoe UI","Helvetica","Arial",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

.logOutDiv {

    margin-top: 30px;
    margin-right: 20px;
}