.signUpForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 350px;
    min-height: 200px;
    height: auto;
    border-radius: 5px;
    margin: 2% auto;
    box-shadow: 0 9px 50px hsla(20, 67%, 75%, 0.31);
    padding: 2%;
    background-image: linear-gradient(-225deg,  #f3f5e0 30%,  #ffb8c9 50%)
    
}
.areYouTeacher {
    font-family: cursive;
}
.signUp {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.input {
    display: flex;
    justify-content: center;
    padding-top: 10px;
}
/* .inputs {
    margin-left: 50px;
  
}

.login{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left: 100px;
    margin-bottom: 20px;
}

.loginEmail {
    display: flex;
    flex-direction: column;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
 
.emailInput {

    width: 250px;
    height: 30px;
   
  
   

}

.passwordInput {
    width: 250px;
    height: 30px;
  
}

.loginPassword{
    display: flex;
    flex-direction: column;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.submit {
    /* display: inline-block; */
    /* color: #252537;
    width: 100px;
    height: 30px;
    background: #fff;
    border-radius: 5px;
    outline: none;
    border: none;
    cursor: pointer;
    text-align: center;
    margin-top: 20px;
    /* margin: 30px auto; */
    /* letter-spacing: 0.05em;
}   */