.splashImage {
    height: auto;
    width: 100%;
}

body {
    margin: 0px;
}

.splashImageDiv {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    position: relative;
}

.splashPageTxt {
    display: flex;
    justify-content: center;
    font-family: cursive;
    font-size: xx-large;
    margin-top: 150px;
  
}

.splashPageTxtAbout {
    display: flex;
    justify-content: center;
    font-size: large;
    font-family: cursive;
}

.splashPageTxtLink {
    text-decoration: none;
    color: sandybrown;
    cursor: pointer;
}