.yogaClassContainer {
    /* margin-bottom: 900px; */

}
.discover {
    margin: 25px;
    font-family: cursive;
    font-size: 30px;
    color: sandybrown
}
.yogaClassDisplay {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    height: 100%;
    margin-bottom: 150px;
    /* width: 800px;
    height: 500px; */
}

.classContainer {
    /* width: 200px; */
}

.yogaClassImage {
    height: 400px;
    width: 400px;
    /* border-radius: 30px; */
    margin-bottom: 10px;
    margin-top: 25px;
    margin-right: 30px;
    margin-left: 30px;
}
.date{
    font-family: cursive;
    margin-left: 25px;
    
    
}
.style {
    margin-left: 27px;
    font-family: cursive;
    font-size: x-large;
    font-weight: bolder;
}
.price {
margin-left: 27px;    
font-family: cursive;
font-size: large;
font-weight: 100px;
color: rgb(244, 116, 70);
}
.address {
    margin-left: 27px;
    font-family: cursive;
}
.teacher {
    margin-left: 27px;
    font-family: cursive;
}



.buttonContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
   
}