.navBarContainerWithLogo  {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border-bottom:1px solid rgb(211, 211, 211);
    background-image:  linear-gradient(-700deg, #f0f4d5 30%,  #ffb8c9 50%);
    width: 100%;
}

.navBarContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    border-bottom:1px solid rgb(211, 211, 211);
    background-image:  linear-gradient(-700deg, #f0f4d5 30%,  #ffb8c9 50%);
    width: 100%;
}
.logo {
    border-radius: 100%;
}
.viewAllClasses {
    display: flex;
    justify-content: flex-end;
     margin-top: 30px;
  
}
.viropayatiLogo {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
    border-radius: 50%;
}
.authContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 30px;
    margin-right: 20px;
}

.loginDiv {
    
    margin-right: 20px;
    text-decoration: none;
}
.createClassModal {
    margin-top: 30px;
}

.signupDiv {
    margin-right: 20px;
    text-decoration: none;
}

.demoDiv {

}

.viewAllClassesButton {
    border-radius: 30px;
    height: 40px;
    width: 70px;
    background-color: rgb(217, 240, 208);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: 5px; 
}

.loginDiv-Button {
   
    border-radius: 30px;
    height: 40px;
    width: 70px;
    background-color: rgb(217, 240, 208);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: 5px;
}

.signupDiv-Button {
    height: 40px;
    width: 70px;
    background-color: rgb(217, 240, 208);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: 5px;
}

.loginDiv-Button {
    border-radius: 5px;
    height: 40px;
    width: 70px;
    background-color: rgb(217, 240, 208);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: 5px;
}